@*@page
@{
    ViewData["Title"] = "Shake";
    Layout = "_DevExtremeLayout";
}

<h2>FeatureGroup</h2>

@(Html.DevExtreme().DataGrid<RebarExercise.Models.Shake>()
    .DataSource(ds => ds.Mvc()
        .Controller("FeatureGroups")
        .LoadAction("Get")
        .InsertAction("Post")
        .Key("ShakeId")
    )
    //.RootValue(0)
    //.ParentIdExpr("TODO")
    //.RemoteOperations(o => o.Filtering(true).Grouping(true).Sorting(true))
    .Columns(columns =>
    {

        // columns.AddFor(m => m.FeatureGroupID).Visible(false);

        columns.AddFor(m => m.PriceL);

    })
    .Editing(e => e
        .AllowAdding(true)
        
    )
)
*@

@{
    ViewBag.Title = "index";
}
